{% extends 'groth16/base-groth16.html' %}

{% block content_in %}
<h2>Setup</h2>
<section>
    <h4>1.Toxic Waste Generation</h4>
    <p>
        <button type="button" onclick="random_toxic()" class="btn btn-primary">random</button>
        <button type="button" onclick="random_toxic_clear()" class="btn btn-primary">
            <form action="{{url_for("clear_toxic")}}" method="post" id="clear-toxic">
                clear
            </form>
        </button>
        <button type="button" onclick="save_toxic()" class="btn btn-primary">Save</button>
    </p>
    <p>
        <form action="{{url_for('setup_save_toxic')}}" method="post" id="save-toxic-form">
            <div class="row">
                <div class="col">
                    <input type="number" class="form-toxic-alpha" name="toxic-alpha" placeholder="alpha">
                </div>
                <div class="col">
                    <input type="number" class="form-toxic-beta" name="toxic-beta" placeholder="beta">
                </div>
                <div class="col">
                    <input type="number" class="form-toxic-delta" name="toxic-delta" placeholder="delta">
                </div>
                <div class="col">
                    <input type="number" class="form-toxic-gamma" name="toxic-gamma" placeholder="gamma">
                </div>
                <div class="col">
                    <input type="number" class="form-toxic-x" name="toxic-x-val" placeholder="x_val">
                </div>
            </div>
        </form>
        {% if toxic == None %}
        {% else %}
            Saved : {{toxic}}
        {% endif %}
        
    </p>
</section>
<section>
    <h4>2.Toxic to polynomials</h4>
    <p>
        <button type="button" onclick="" class="btn btn-primary">Ax, Bx, Cx, Hx, Zx</button>
        <button type="button" onclick="" class="btn btn-primary">
            <form action="" method="post" id="ast-form">
                x_val in
            </form>
        </button>
    </p>
    <p>
        Ap(x_val) = Ax_val <br>
        [29952.0, -57264.0, 35904.0, -8400.0, 672.0]
    </p>
    <p>
        Bp(x_val) = Bx_val <br>
        [-2592.0, 6576.0, -3959, 912.0, -72.0]
    </p>
    <p>
        Cp(x_val) = Cx_val <br>
        [..424.0, ..648.0, -2868479., 525312.0, -34560.0]
    </p>
    <p>
        Sol(Ap(x_val)*Bp(x_val)-Cp(x_val)) = Zp(x_val) <br>
        [...20160.0, ...992.0, ...672.0, ...3855, ...6815, ..528.0, ...08.0, ..64.0, ...84.0]
    </p>
    <p>
        Z cofactor, Hp(x_val) =  = Hx_val <br>
        [..168.0, ...08.0, ...1904.0, ...84.0]
    </p>
</section>
<section>
    <h4>3.Sigmas</h4>
    <p>
        <button type="button" onclick="" class="btn btn-primary">Formula</button>
        <button type="button" onclick="" class="btn btn-primary">Calculate</button>
    </p>
    
    <p>
        nWires = ... <br>
        nGates = ... <br>
        G1 = ... <br>
        G2 = ... <br>
    </p>
    <p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Formula</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <!-- for 1_1 -->
            <tr>
                <th scope="row" rowspan="3">1_1</th>
                <td>G1*alpha</td>
                <td>1_1-1</td>
            </tr>
            <tr>
                <td>G1*beta</td>
                <td>1_1-2</td>
            </tr>
            <tr>
                <td>G1*delta</td>
                <td>1_1-3</td>
            </tr>
            
            <!-- for 1_2 -->
            <tr>
                <th scope="row" rowspan="3">1_2</th>
                <td rowspan="3">
                  G1*{x_val^0}, <br>
                  G1*{x_val^1}, <br>
                  ..., <br>
                  G1*{x_val^nGates}
                  </td>
                <td>1_2-1</td>
            </tr>
            <tr>
                <td>1_2-2</td>
            </tr>
            <tr>
                <td>1_2-3</td>
            </tr>

            <!-- for 1_3 -->
            <tr>
                <th scope="row" rowspan="3">1_3</th>
                <td rowspan="3">
                    G1*{beta*Ax_val[0]+alpha*Bx_val[0]+Cx_val[0]/gamma},<br>
                    (0, 0),<br>
                    … ,<br>
                    (0, 0),<br>
                    G1*{beta*Ax_val[nWires-1]+alpha*Bx_val[nWires-1]+Cx_val[nWires-1]/gamma}     
                    </td>
                <td>1_3-1</td>
            </tr>
            <tr>
                <td>1_3-2</td>
            </tr>
            <tr>
                <td>1_3-3</td>
            </tr>

            <!-- for 1_4 -->
            <tr>
                <th scope="row" rowspan="3">1_4</th>
                <td rowspan="3">
                    (0, 0),<br>
                    G1*{(beta*Ax_val[1]+alpha*bx_val[1]+cx_val[1])/gamma},<br>
                    …,<br>
                    G1*{(beta*Ax_val[nWires-2]+alpha*bx_val[nWires-2]+cx_val[nWires-2])/gamma},<br>
                    (0, 0)             
                    </td>
                <td>1_4-1</td>
            </tr>
            <tr>
                <td>1_4-2</td>
            </tr>
            <tr>
                <td>1_4-3</td>
            </tr>

            <!-- for 1_5 -->
            <tr>
                <th scope="row" rowspan="3">1_5</th>
                <td rowspan="3">
                    G1 * {x_val^(0) * Zx_val / delta},<br>
                    G1 * {x_val^(1) * Zx_val / delta},<br>
                    … ,<br>
                    G1 * {x_val^(nGates-2) * Zx_val / delta}                                
                    </td>
                <td>1_5-1</td>
            </tr>
            <tr>
                <td>1_5-2</td>
            </tr>
            <tr>
                <td>1_5-3</td>
            </tr>
            
            <!-- for 2_1 -->
            <tr>
                <th scope="row" rowspan="3">2_1</th>
                <td>G2*alpha</td>
                <td>1_1-1</td>
            </tr>
            <tr>
                <td>G2*beta</td>
                <td>1_1-2</td>
            </tr>
            <tr>
                <td>G2*gamma</td>
                <td>1_1-3</td>
            </tr>

            <!-- for 2_2 -->
            <tr>
                <th scope="row" rowspan="3">2_2</th>
                <td rowspan="3">
                  G2*{x_val^0}, <br>
                  G2*{x_val^1}, <br>
                  ..., <br>
                  G2*{x_val^nGates}
                  </td>
                <td>2_2-1</td>
            </tr>
            <tr>
                <td>2_2-2</td>
            </tr>
            <tr>
                <td>2_2-3</td>
            </tr>

            </tbody>
        </table>   
    </p>
</section>
{% endblock %}