{% extends 'groth16/base-groth16.html' %}

{% block content_in %}
<h2>Verifying</h2>
<section>
    <h4>1.Proofs and public Rx from prover</h4>
    {% if proofs == [] %}
    {% else %}
        <p>
            <ul>
            <li>proof_a : [{{snl(proofs[0].proof_a)}}]</li>
            <li>
                proof_b : 
                [{% for b in proofs[0].proof_b %} 
                    [{{snl(b)}}]
                {% endfor %}]
            </li> 
            <li>proof_c : [{{snl(proofs[0].proof_c)}}]</li> 
            <li>public Rx : {{public_gates}}</li>
            </ul>
        </p>
    {% endif %}
</section>
<section>
    <h4>2.Verify</h4>
    <p>
        <button type="button" onclick="groth_verify()" class="btn btn-primary">
            <form action="{{url_for('groth_verify')}}" method="post" id="groth-verify-form">
                Verify
            </form>
        </button>
    </p>
    <p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Formula</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
                <!-- LHS -->
                <tr>
                    <th scope="row">LHS(left hand side)</th>
                    <td>
                        LHS fomula
                    </td>
                    <td>LHS value</td>
                </tr>

                <!-- RHS -->
                <tr>
                    <th scope="row">RHS(right hand side)</th>
                    <td>
                        RHS fomula
                    </td>
                    <td>RHS value</td>
                </tr>
            </tbody>
        </table>
    </p>
    <p>Is LHS == RHS ?
        {% if verify_result == [] %}
        {% else %}
        {{verify_result[0].verify_result}}
        {% endif %}
    </p>
</section>
{% endblock %}