{% extends 'groth16/base-groth16.html' %}

{% block content_in %}
<h2>Verifying</h2>
<section>
    <h4>1.Proofs and public Rx from prover</h4>
    {% if proofs == None or proofs == [] %}
    {% else %}
        <p>
            <ul>
            <li>proof_a : [{{snl(proofs.proof_a)}}]</li>
            <li>
                proof_b :
                [{% for b in proofs.proof_b %}
                    [{{snl(b)}}]
                {% endfor %}]
            </li>
            <li>proof_c : [{{snl(proofs.proof_c)}}]</li>
            <li>public Rx : {{public_gates}}</li>
            </ul>
        </p>
    {% endif %}
</section>
<section>
    <h4>2.Verify</h4>
    {%if proofs != None and proofs != [] %}
    <p>
        <button type="button" onclick="groth_verify()" class="btn btn-primary" >
            <form action="{{url_for("groth_verify")}}" method="post" id="groth-verify-form">
                Verify
            </form>
        </button>
    </p> {% endif %}
    <p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Formula</th>
                <th scope="col" style="width:50%">Value</th>
            </tr>
            </thead>
            <tbody>
                <!-- LHS -->
                <tr>
                    <th scope="row">LHS(left hand side)</th>
                    <td>
                        LHS fomula
                    </td>
                    <td> {% if lhs != undefined and lhs != None %}
                            <font size="2">{{lhs}}</font>
                         {% endif %}
                    </td>
                </tr>

                <!-- RHS -->
                <tr>
                    <th scope="row">RHS(right hand side)</th>
                    <td>
                        RHS fomula
                    </td>
                    <td>{% if rhs != undefined and rhs != None %}
                            <font size="2">{{rhs}}</font>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </p>
    <p>Is LHS == RHS ?
        {% if verify_result != undefined and verify_result != None %}
            <font color="red">{{verify_result}}</font>
        {% else %}
            True / False
        {% endif %}
    </p>
</section>
{% endblock %}
