blinker==1.8.2
cached-property==1.5.2
click==8.1.7
cytoolz==0.12.3
eth-hash==0.7.0
eth-typing==5.0.0
eth-utils==5.0.0
Flask==3.0.3
hexbytes==1.2.1
importlib_metadata==8.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
py-ecc==7.0.1
tinydb==4.8.0
toolz==0.12.1
typing_extensions==4.12.2
Werkzeug==3.0.3
zipp==3.20.0
