<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
    <header>
        <h1><a href="http://localhost/">Interactive ZKP Study</a></h1>
    </header>

    <nav>
        <ol>
        <li>
            <a class="nav-link" href="{{url_for('main')}}">Groth16</a>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="{{url_for('main')}}" role="tab" aria-controls="v-pills-home" aria-selected="true">Setup</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Proving</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Verifying</a>
            </div>
        </li>
        <li><a href="http://localhost/page_vc.html">Plonk</a></li>
        <li><a href="http://localhost/page_op.html">Jake</a></li>              
        </ol>
    </nav>
    <section class="content">
        {% block content %}{% endblock %}
    </section>
</body>
</html>